<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/02d39e298d.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/style.css">
  <title>Login Inverst S.A.S</title>
</head>
<body>
   <section>
    <div class="contenedor">
      <div class="formulario">
        <form action="login.php" method="POST">   
          <h2>Iniciar Sesión</h2>
          <div class="input-contenedor">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" required>
            <label>Email</label>
          </div>

          <div class="input-contenedor">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" required>
            <label>Password</label>
          </div>

          <div class="olvidar">
            <label for="#">
              <input type="checkbox" name="remember"> Recordar
              <a href="#">Olvidé La Contraseña</a>
            </label>
          </div>

          <button type="submit">Acceder</button>
        </form>

        <div class="registrar">
          <p>No Tengo Una Cuenta <a href="register.html">Crear Una Cuenta</a></p>
        </div>
      </div>
    </div>
   </section>
</body>
</html>
